// app global css in SCSS form

body {
  overflow: hidden;
  background-color: #D8C8B9;
}

.center-screen {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: 1.3fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 1em 0;
  grid-template-areas:
    'Source'
    'Text';
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: start;
}

h3 {
  font-size: 2em;
  margin-left: 10vw;
  margin-right: 10vw;
  line-height: 2em;
  grid-area: Text;
}

h1 {
  font-size: 3.5em;
  grid-area: Source;
}

@media only screen and (max-width: 1000px) {
  .center-screen {
    margin-top: 0;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  h1 {
    font-size: 2em;
  }
}

.background {
  color: white;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url('/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  background-blend-mode: darken;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.context-link {
  color: yellow;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
}

.bibleserver-btn {
  background-color: brown;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

.calendar-btn {
  background-color: $orange;
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 20px;
}

.icon-up {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: calc(50vw - 19px);
}

@keyframes hop {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animated-icon-up {
  z-index: 500;
  animation: hop 1s ease-in-out infinite alternate;
}

.icon-down {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: calc(50vw - 19px);
}

.animated-icon-down {
  z-index: 500;
  animation: hop 1s ease-in-out infinite alternate;
}
