// app global css in SCSS form
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}


h1 {
  font-size: 5em;
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 4;
}

h3 {
  font-size: 3.5em;
  flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
  .center-screen {
    min-height: 70vh;
  }
  h1 {
    font-size: 2em;
    line-height: 1.5em;
  }

  h3 {
    font-size: 2em;
  }
}

.dark-background {
  color: white;
  background: rgba(0, 0, 0, 0.65) url('/wallpaper.jpg');
  background-size: cover;
  background-clip: content-box;
  background-blend-mode: darken;
}

.header {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.context-link {
  color: yellow;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
}

.bibleserver-btn {
  background-color: brown;
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
}

.calendar-btn {
  background-color: $orange;
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 20px;
}

.icon-up {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: calc(50vw - 19px);
}

@keyframes hop {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.animated-icon-up {
  z-index: 500;
  animation: hop 1s ease-in-out infinite alternate;
}

.icon-down {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: calc(50vw - 19px);
}

.animated-icon-down {
  z-index: 500;
  animation: hop 1s ease-in-out infinite alternate;
}
